attrs==19.1.0
blinker==1.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloud-init==18.5
command-not-found==0.3
configobj==5.0.6
CouchDB==1.2
cryptography==2.3
Fiona==1.8.6
geopandas==0.5.0
idna==2.8
Jinja2==2.8
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==0.23
munch==2.3.2
nltk==3.4.1
numpy==1.16.3
oauthlib==3.0.1
pandas==0.24.2
pyasn1==0.1.9
pyinotify==0.9.6
PyJWT==1.3.0
pyproj==2.1.3
pyserial==3.0.1
PySocks==1.6.8
python-dateutil==2.8.0
requests==2.21.0
requests-oauthlib==1.2.0
Shapely==1.6.4.post2
singledispatch==3.4.0.3
six==1.12.0
ssh-import-id==5.5
tweepy==3.7.0
urllib3==1.24.3
jupyterhub==1.0.0